---
 const personalImageAlt = "Enrique Jordano"
---

<article class="flex flex-col items-center justify-center gap-8  md:flex-row">
    <div
      class="[&>p]:mb-4 text-base [&>p>strong]:text-yellow-200 [&>p>strong]:font-medium md:[&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
      <p>
        Siempre me ha fascinado la tecnología por su capacidad para mejorar experiencias y optimizar procesos. 
        Esto me llevó a <strong>especializarme en el desarrollo Frontend</strong>, creando experiencias de usuario intuitivas, accesibles y eficientes. 
        Además, mi <strong>experiencia en desarrollo Full-Stack</strong> me permite entender el funcionamiento global de las aplicaciones y 
        abordar los proyectos de forma integral.
      </p>
  
      <p>
        Actualmente, estoy enfocado en perfeccionar mis habilidades en tecnologías como <strong>React, 
        Tailwind CSS</strong> y herramientas modernas de desarrollo web, al mismo tiempo que amplío mis conocimientos 
        en <strong>tecnologías backend emergentes.</strong> 
      </p>
  
      <p>
        Soy una persona <strong>comprometida y constante</strong>. Disfruto <strong>resolviendo problemas complejos 
        y colaborando en equipo</strong> para crear soluciones de calidad. Busco seguir creciendo en entornos dinámicos
        donde pueda aportar valor y aprender continuamente.
      </p>
    </div>
    
    <img 
      src="/images/personal.webp" 
      alt={personalImageAlt} 
      class="order-1 object-[50%_20%] md:object-[50%_30%] object-cover w-52 md:w-60 h-full md:order-2 lg:w-60 aspect-square md:aspect-[9/12] rounded-xl grayscale hover:shadow-white/15 hover:shadow-2xl hover:scale-105 hover:grayscale-0 transition duration-300" 
    >
  
  </article>