<article>
    <p class="text-base md:text-lg mb-6 text-pretty [&>strong]:text-yellow-200">
        Siempre estoy buscando nuevos desafíos y oportunidades para crecer. Si crees que puedo ser un buen integrante para tu equipo o proyecto, <strong>¡Contáctame!</strong>
    </p>
    <a
        class="w-28 rounded-xl border-2 border-white/60 text-base py-2 px-3 md:py-2 md:px-5 bg-white/5 hover:bg-white hover:text-gray-900 hover:font-medium hover:scale-105 transition"
        href="mailto:enriquejordanogarcia@gmail.com" target="_blank" rel="noopener noreferrer"
    >
        Contacto
    </a>
</article>